{% extends "layout.html" %}

{% block content %}		
	
	<div class="content-section">
	  <div class="media">
	    <div class="media-body">
	      <h2 class="account-heading">{{ current_user.username}}</h2>
	      <p class="text-secondary">School : {{ current_user.school}}</p>
	      <p class="text-secondary">College : {{ current_user.college}} </p>
	      <p class="text-secondary">Company 1 : {{ current_user.company1}} </p>
	      <p class="text-secondary">Company 2 : {{ current_user.company2}} </p>
	      <p class="text-secondary">Location : {{ current_user.gps[0:7] }}, {{ current_user.gps[7:14] }}</p>								
	    </div>
	  </div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.company1.label(class="form-control-label") }}
                    {% if form.company1.errors %}
                        {{ form.company1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.company1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.company1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.company2.label(class="form-control-label") }}
                    {% if form.company2.errors %}
                        {{ form.company2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.company2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.company2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.college.label(class="form-control-label") }}
                    {% if form.college.errors %}
                        {{ form.college(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.college.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.college(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.school.label(class="form-control-label") }}
                    {% if form.school.errors %}
                        {{ form.school(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.school.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.school(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
	</div>




<!-- ##################################################################################################### -->

<!-- ####################################################################################################  -->
<br><br>
    
    <h3>Where You Are Right Now:</h3>
    <!--The div element for the map -->
    <br>
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var loc = {lat: {{ lat }} , lng: {{ lon }} };
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 13, center: loc});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: loc, map: map});
  var marker2 = new google.maps.Marker({position: loc, map: map});
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHj1ELNsNs0rwlSWkK5MADUSgdC7dF0Qw&callback=initMap">
    </script>
<br><br><br><br>




{% endblock content%}
