{% extends "layout.html" %}

{% block content %}

<br><br><br><br><br><br><br>
<button onclick="getLocation()">Get Location</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
}
</script>


	<!-- {% for post in posts %}
		<h1> {{post.gps}} </h1>
	{% endfor %}
 -->
{% endblock content%}