

{% if current_user.is_authenticated %}

{% extends "layout.html" %}
{% block content %}

{% for user in s %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ user.username }}</a>
      <small class="text-muted">{{ user.school }}</small>
    </div>
    <h2>{{ user.username }}</h2>
    <p class="article-content">{{ user.gps }}</p>
  </div>
</article>

{% endfor %}

{% for user in c %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ user.username }}</a>
      <small class="text-muted">{{ user.college }}</small>
    </div>
    <h2>{{ user.username }}</h2>
    <p class="article-content">{{ user.gps }}</p>
  </div>
</article>

{% endfor %}

{% for user in c1 %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ user.username }}</a>
      <small class="text-muted">{{ user.company1 }}</small>
    </div>
    <h2>{{ user.username }}</h2>
    <p class="article-content">{{ user.gps }}</p>
  </div>
</article>

{% endfor %}

{% for user in c2 %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ user.username }}</a>
      <small class="text-muted">{{ user.company2 }}</small>
    </div>
    <h2>{{ user.username }}</h2>
    <p class="article-content">{{ user.gps }}</p>
  </div>
</article>

{% endfor %}



<div id="map_wrapper">
    <div id="map_canvas" class="mapping">
      <!-- initialize()  -->
    </div>
</div>

<script type="text/javascript">
  
  jQuery(function($) {
      // Asynchronously Load the map API 
      var script = document.createElement('script');
      script.src = "//maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
      document.body.appendChild(script);
  });

  function initialize() {
      var map;
      var bounds = new google.maps.LatLngBounds();
      var mapOptions = {
          mapTypeId: 'roadmap'
      };
                      
      // Display a map on the page
      map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
      map.setTilt(45);
          
      // Multiple Markers
      var markers = [
          ['London Eye, London', 51.503454,-0.119562],
          ['Palace of Westminster, London', 51.499633,-0.124755]
      ];
                          
      // Info Window Content
      var infoWindowContent = [
          ['<div class="info_content">' +
          '<h3>London Eye</h3>' +
          '<p>The London Eye is a giant Ferris wheel situated on the banks of the River Thames. The entire structure is 135 metres (443 ft) tall and the wheel has a diameter of 120 metres (394 ft).</p>' +        '</div>'],
          ['<div class="info_content">' +
          '<h3>Palace of Westminster</h3>' +
          '<p>The Palace of Westminster is the meeting place of the House of Commons and the House of Lords, the two houses of the Parliament of the United Kingdom. Commonly known as the Houses of Parliament after its tenants.</p>' +
          '</div>']
      ];
          
      // Display multiple markers on a map
      var infoWindow = new google.maps.InfoWindow(), marker, i;
      
      // Loop through our array of markers & place each one on the map  
      for( i = 0; i < markers.length; i++ ) {
          var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
          bounds.extend(position);
          marker = new google.maps.Marker({
              position: position,
              map: map,
              title: markers[i][0]
          });
          
          // Allow each marker to have an info window    
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
              return function() {
                  infoWindow.setContent(infoWindowContent[i][0]);
                  infoWindow.open(map, marker);
              }
          })(marker, i));

          // Automatically center the map fitting all markers on the screen
          map.fitBounds(bounds);
      }

      // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
      var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
          this.setZoom(14);
          google.maps.event.removeListener(boundsListener);
      });
      
  }
</script>



{% endblock content%}

{% else %}



<!-- ###################################################################################################### -->

<!DOCTYPE html>
<html>
<head>
  <title>Hello There!</title>
</head>
<style type="text/css">
  html,body {
  background-image: linear-gradient(-90deg,#07bade,#07bade);
}
</style>
<body>
  <div id="grad">
  <font face = "Candara" size = "4">  NewBie? Register<a href="{{ url_for('register') }}"> here</a> 
<br><br>
<font face = "Candara" size = "4">  Oldie? Login <a href="{{ url_for('login') }}">here</a> 
  </div>
</body>
</html>



{% endif %}

