

{% if current_user.is_authenticated %}

{% extends "layout.html" %}
{% block content %}

{% for user in s %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ user.username }}</a>
      <small class="text-muted">{{ user.school }}</small>
    </div>
    <h2>{{ user.username }}</h2>
    <p class="article-content">{{ user.gps }}</p>
  </div>
</article>

{% endfor %}

{% for user in c %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ user.username }}</a>
      <small class="text-muted">{{ user.college }}</small>
    </div>
    <h2>{{ user.username }}</h2>
    <p class="article-content">{{ user.gps }}</p>
  </div>
</article>

{% endfor %}

{% for user in c1 %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ user.username }}</a>
      <small class="text-muted">{{ user.company1 }}</small>
    </div>
    <h2>{{ user.username }}</h2>
    <p class="article-content">{{ user.gps }}</p>
  </div>
</article>

{% endfor %}

{% for user in c2 %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ user.username }}</a>
      <small class="text-muted">{{ user.company2 }}</small>
    </div>
    <h2>{{ user.username }}</h2>
    <p class="article-content">{{ user.gps }}</p>
  </div>
</article>

{% endfor %}

{% endblock content%}

{% else %}



<!-- ###################################################################################################### -->

<!DOCTYPE html>
<html>
<head>
  <title>Hello There!</title>
</head>
<style type="text/css">
  html,body {
  background-image: linear-gradient(-90deg, #2193b0, #6dd5ed);
}
</style>
<body>
  <div id="grad">
  <font face = "Candara" size = "4">  NewBie? Register<a href="{{ url_for('register') }}"> here</a> 
<br><br>
<font face = "Candara" size = "4">  Oldie? Login <a href="{{ url_for('login') }}">here</a> 
  </div>
</body>
</html>



{% endif %}

